<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>西华师范大学-英语完形填空</title>
</head>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/index.css"
          th:src="@{../static/assets/css/index.css}" />
	<script src="../static/assets/js/jquery.min.js"
		th:src="@{/static/assets/js/jquery.min.js}"></script>
<body>

<script>

function check(){
    if (true) {
        $("#btn").attr("style","display:'';");  //给BUTTON按钮的display属性赋值

    } else {
        $("#btn").attr("style", "display:none;");
    }
}
$("#btn").click(function () {
   if($("input[type=text]").val()==""){
       alert("请输入题号：如1001");
       return;
   }
});

</script>

<img src=".././static/images/bgImg1.jpg" class="bgImg">

<div class="content">
	<div class="bidTitle">在线英语完形填空测试</div>
	<div class="logCon">
		<form action="/index/content" method="get">
			<div class="line"  ><span>请输入题号:</span>
			<input placeholder="eg:1001" id="contentid" class="bt_input" type="text" name="stemid" ></div>


			<br/>
			<input type="checkbox" id="cn" onclick="check()"  />*依照学术诚信条款，我保证此考试是本人独立完成的。
			<br/>
			<button type="submit" class="logingBut" id="btn" style="display: none" >进入考试</button>
	</form>
	</div>
</div>



</body>
</html>


