<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.gao.cms.mapper.CmsUserMapper">
    <sql id="ref_column">
      id,
      user_name userName,
      user_age userAge,
      user_sex userSex
    </sql>
    <select id="findById" parameterType="Integer" resultType="com.test.gao.cms.entity.CmsUser"><!--id是mapper下接口中的方法名-->
        select 
        <include refid="ref_column"/>
        from user_info where
        id=#{id}
    </select>
    <select id="findAll" parameterType="Integer" resultType="com.test.gao.cms.entity.CmsUser">
        select
        <include refid="ref_column"></include>
        from user_info
    </select>
    <update id="update" parameterType="com.test.gao.cms.entity.CmsUser">
        UPDATE
        user_info
        SET
        user_name= #{userName},
        user_age = #{userAge},
        user_sex = #{userSex}
        WHERE id = #{id}
    </update>
    <insert id="insert" parameterType="com.test.gao.cms.entity.CmsUser">
        INSERT INTO
        user_info(user_name, user_age, user_sex)
        VALUES (#{userName}, #{userAge}, #{userSex})

    </insert>
    <delete id="delete" parameterType="Integer">
        delete from user_info where id=#{id}
    </delete>
</mapper>