<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.gao.cms.mapper.StemQuestionInfoMapper">
    <resultMap id="BaseResultMap" type="com.test.gao.cms.entity.StemQuestionInfo">
        <constructor>
            <idArg column="stem_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="choose_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="choose_A" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="choose_B" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="choose_C" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="choose_D" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
      stem_id as stemId,
       choose_id as chooseId,
        choose_A as chooseA,
        choose_B as chooseB,
        choose_C as chooseC,
        choose_D as chooseD
    </sql>

    <select id="findQuestionById" resultType="com.test.gao.cms.entity.StemQuestionInfo"><!--id是mapper下接口中的方法名-->
        select
        <include refid="Base_Column_List"/>
        from stem_choose_content where
        stem_id=#{stemId}
    </select>
</mapper>